<!DOCTYPE html>
<html>
<head>
    <title>hello page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <style type="text/css">
        .userBtn{
            display: block;
            width: 300px;
            margin: auto;
            margin-bottom: 10px
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <p>Welcome, Students!</p>
        <a href="/signup" class="btn btn-primary userBtn">SignUp for campus CSE6242!</a>
        <a href="http://critique.gatech.edu/course.php?id=CSE6242" class="btn btn-primary userBtn">Can I check out the course's critique first?</a>
    </div>
</body>
</html>